@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;

  background-color: #f8e7f6;
  color: #4b164c;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  padding: 20px;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.1);
  width: 90vw;
  max-width: 500px;
  overflow: hidden;
}

.quiz-box {
  padding: 2.5rem;
}

h2 {
  margin: 0;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 1.1rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: #f273e6;
  border: none;
  color: #000;
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #dd3ecd;
}

button:focus {
  background-color: #a23b98;
  outline: none;
}

@media (max-width: 400px) {
  .quiz-box {
    padding: 1rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  ul li {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.7rem;
  }
}
